<script type="text/javascript" src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
<script type="text/javascript" src="/js/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<script src="/js/jquery.scrollUp.min.js"></script>  
<script>  
 $(function () {
    $.scrollUp({
        scrollName: 'scrollUp', 
        // Element ID
        topDistance: '300', 
        // Distance from top before showing element (px)
        topSpeed: 300, 
        // Speed back to top (ms)
        animation: 'fade', 
        // Fade, slide, none
        animationInSpeed: 200, 
        // Animation in speed (ms)
        animationOutSpeed: 200, 
        // Animation out speed (ms)
         scrollText: ' ', 
         activeOverlay: false, 
        // Set CSS color to display scrollUp active point, e.g '#00FFFF'
    });
});
</script> 
 <script type="text/javascript">
      var a_idx = 0;
      jQuery(document).ready(function($) {
      $("body").click(function(e) {
      var a = new Array("You", "have", "to", "believe", "in", "yourself", "That" ,"is", "the", "secret ", "of", "success");
      var $i = $("<span/>").text(a[a_idx]);
      a_idx = (a_idx + 1) % a.length;
      var x = e.pageX,
      y = e.pageY;
      $i.css({
      "z-index": 999999999999999999999999999999999999999999999999999999999999999999999,
      "top": y - 20,
      "left": x,
      "position": "absolute",
      "font-weight": "bold",
      "color": "#ff6651"
      });
      $("body").append($i);
       $i.animate({
      "top": y - 180,
      "opacity": 0
      },
      1500,
      function() {
      $i.remove();
      });
      });
      });
  </script>  
 <script type="text/javascript">
      var sUserAgent = navigator.userAgent.toLowerCase();
      var bIsIpad = sUserAgent.match(/ipad/i) == "ipad";
      var bIsIphoneOs = sUserAgent.match(/iphone os/i) == "iphone os";
      var bIsMidp = sUserAgent.match(/midp/i) == "midp";
      var bIsUc7 = sUserAgent.match(/rv:1.2.3.4/i) == "rv:1.2.3.4";
      var bIsUc = sUserAgent.match(/ucweb/i) == "ucweb";
      var bIsAndroid = sUserAgent.match(/android/i) == "android";
      var bIsCE = sUserAgent.match(/windows ce/i) == "windows ce";
      var bIsWM = sUserAgent.match(/windows mobile/i) == "windows mobile";
      var htmljs = '<script type="text/javascript" color="255,0,255"  zIndex="-1" count="150" src="/js/canvas-nest.min.js"><\/script>';
      if (bIsIpad || bIsIphoneOs || bIsMidp || bIsUc7 || bIsUc || bIsAndroid || bIsCE || bIsWM) {
      } else {
        document.write(htmljs);
     //   document.write('<script type="text/javascript" src="/js/ribbon.js" alpha="0.2" zindex="-2" ><\/script>');
      }
</script>

