<section class="footer">
    <footer>
    	<!--<iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=298 height=52 src="//music.163.com/outchain/player?type=2&id=28193075&auto=1&height=32"></iframe>-->
        <div class = "footer_div">  
        <nav class="cover-navigation navigation--social">
          <ul class="navigation">

          {% if site.social.weibo %}
          <!-- Weibo -->
          <li class="navigation__item_social">
            <a href="http://weibo.com/{{site.social.weibo}}" title="我的微博" target="_blank">
              <i class='social fa fa-weibo fa-4x'></i>
              <span class="label">Weibo</span>
            </a>
          </li>
          {% endif %}

          {% if site.social.github %}
          <!-- Github -->
          <li class="navigation__item_social">
            <a href="https://github.com/{{site.social.github}}" title="我的Github" target="_blank">
              <i class='social fa fa-github fa-4x'></i>
              <span class="label">Github</span>
            </a>
          </li>
          {% endif %}

          {% if site.social.mail %}
          <!-- Email -->
          <li class="navigation__item_social">
            <a href="mailto:{{site.social.mail}}" title="我的邮箱">
              <i class='social fa fa-envelope fa-4x'></i>
              <span class="label">Email</span>
            </a>
          </li>
          {% endif %}

          </ul>
        </nav>

        </div>

        <div class = "footer_div">  
        	<div align="center">
           <p class="copyright text-muted">
            Copyright &copy; {{ site.title }} {{ site.time | date: '%Y' }} iahsnil.xyz <!--<a href="https://mp.weixin.qq.com/profile?src=3&timestamp=1521638314&ver=1&signature=WsvQxBl9Wot0qyjJOg9zuDUqEh2n0wUOSTeENAVLbJDLTeAjIxy4O0DOaaYV-YlGR7pL9L5lnJZ8VVuQXH11nA==">公众号主页</a> -->
            
            </p>
             </div>
        	<div align="center">
    			<link rel="stylesheet" href="//cdn.bootcss.com/font-awesome/4.3.0/css/font-awesome.min.css">

          <!-- 访问统计 -->
          您是我的第<span id="busuanzi_value_site_uv"></span> 个访客,
          <span id="busuanzi_container_site_pv">
            本站总访问量
            <span id="busuanzi_value_site_pv"></span>次
          </span>
          <!--<img src="/images/yinzhang.jpg" width="20px" /> -->      
        </div>
        
    </footer>
     
</section>
